.footer {
    width: 100%;
    max-width: 1600px;

}
.footerSection{
    padding: 0 10%;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    background: #000;
    gap: 20px;
}

@media screen and (min-width: 1600px) {
  .navigation {
    margin: 0 auto;
  }
}

.navLinks1 {
  /* background-color: rebeccapurple; */
  flex: 1.5;
  margin-top: 28px;
  display: flex;
  padding:0 30px;
  justify-content: flex-start;
  /* align-items: center;
  justify-content: flex-start; */
}
.navLinks1 ul {
 list-style: none;
text-align:left;
  width: fit-content;
  height: fit-content;
}
.navLinks1 .footerLi {
    padding: 5px 0;
text-align: left;
    
  }
.navLinks1 .footera {
  text-decoration: none;
  font-size: 145%;
  color: white;
  opacity: .9;
  
}
.navLinks1 .footera:hover {
    opacity: 1;

    color: var(--f3);
    
  }
.navLinks2 {
  flex: 2;
  /* background: orangered; */
}
.navLinks3 {
  
  flex: 1.5;  font-size: 125%;
  margin-top: 28px;
  /* background: green; */
}
.navLinks3ul{
    list-style: none;
}  
.navLinks3 h3{
    list-style: none;
    color: var(--f3);
text-shadow: 1px 1px rgb(213 188 0);
letter-spacing: 2px;
}   
.navLinks3li{
    padding: 5px 0;

}
.navLinks3li a{
color: white;
text-decoration: none; opacity: .8;
}
.navLinks3li a:hover{
    text-decoration: none; opacity: 1;
    }

@media  (max-width: 450px) {
    .footer {
   
        padding: 0;
      }
    .navLinks1 {
        display: flex;
   
    }
    .navLinks1 ul {
       text-align:center;
       
       }
       .navLinks3 {
        text-align: center;

       }
  }
  .socialmedaisul{
    display: flex;
    flex-direction: column;
  }
  .socialmedaisulLi{
    display: flex;
    text-align: center;
    justify-content:flex-start !important;
    text-align: center;
   gap:10px;
  }
  .socialmedaisulLi svg{
font-style: 20px;   
width: 30px;
  }
  .socialmedaisulLi span{
    font-size: 70%;
  }
  .socialmedaisulLi span{
    font-size: 150%;
  }
  .socialmedaisulLi a{
    font-size: 150% !important;
  }
  