.ScreenSkills{
    width: 100%;
    max-width: 1600px;
    /* background-color: red; */
    /* padding: 80px; */
    gap: 50px;
    
}
@media screen and (min-width: 1600px) {
    .ScreenSkills {
      margin: 0 auto;
    }
  }
  
.ScreenSkillsItem{
    gap: 20px;
    font-size: 120%;
    display: flex;
    margin: 70px;
    align-items: center;
    /* background-color: palegoldenrod; */
}
.ScreenSkillsItemlogo{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 20px ;
    margin: 20px;
}

.socialmedaisulLi svg{
    font-size: 50% !important;
}
@media screen and (max-width: 800px) {
    .ScreenSkillsItem {
        flex-direction: column;
    text-align: center;
    gap: 30px;
    }
  }