@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&family=Kalam:wght@300;400;700&display=swap');body {

  background-color:var(--f1);
/* font-family: sans-serif; */
width: 100%;
  /* min-height: 120vh; */
}
*{
padding: 0;
margin: 0;
  box-sizing: border-box;
  transition: .2s;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Kalam', cursive;
}
:root {
  --f1: #ffffff;
  --f2: #000000;
  --f3:   #ffd900;
}
*::selection{
  background-color: #ffd900;
  color: black;
}
/*   --f3:   #ffd900;
 */